<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Course Management Application</title>
<link th:href="@{/css/inputForm.css}" rel="stylesheet">
</head>
<body>
	<div class="background-image">
		<div class="spacer"></div>
		<div class="container">
			<div class="wrapper">
				<div class="title">
					<span>Course Management App</span>
				</div>
				<form th:action="@{/login}" method="post">
					<!-- matches error and prints respective error message-->
					<p th:if="${error}" class="error" th:text="${error}" style="color:red;"></p>
					<p th:if="${info}" class="error" th:text="${info}" style="color:green;"></p>
					<div class="row">
						<input type="text" name="username" placeholder="Enter username">
					</div>
					<div class="row">
	           			<input type="password" name="password" placeholder="Enter password">
					</div>
					<div class="row button">
						<input type="submit" name="login" value="Login">
					</div>
					<div class="row button">
						<input type="submit" name="register" value="Register">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>