<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>List of Student Registrations for give course</title>
<link th:href="@{/css/TableView.css}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="background-image">
	<div class="spacer"></div>
	<div class="container-lg">
	    <div class="table-responsive">
	        <div class="table-wrapper">
	            <div class="table-title">
	                <div class="row">
	                    <div class="col-sm-12">
	           	        	<form th:action="@{'/helpWithRegistrations/{x}/{y}'(x=${instructor}, y=${courseId})}" method="get" style="float:right;">
	   	                  		<button type="submit" class="btn btn-link">Help</button>
	                        </form>	                                       	
	                    </div>                  
	                    <div class="col-sm-8"><h2>Student Registrations</h2></div>
	                    <div class="col-sm-4">
	           	        	<form th:action="@{'/addStudentForm/{x}/{id}'(x=${instructor}, id=${courseId})}" method="get">
	   	                  		<button type="submit" class="btn btn-info add-new">
	                        	<i class="fa fa-plus"></i>Add New</button>
	                        </form>
	                    </div>
	                </div>
	            </div>
	            <table class="table table-bordered">
					<colgroup>
						<col style="width:5%">
						<col style="width:18%">
						<col style="width:8%">
						<col style="width:9%">
						<col style="width:10%">
						<col style="width:12%">
						<col style="width:9%">
						<col style="width:8%">
						<col style="width:8%">
						<col style="width:13">					
					</colgroup>
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Name</th>
	                        <th>Year of Studies</th>
	                        <th>Semester</th>
	                        <th>Course ID</th>
	                        <th>Year of Registration</th>
	                        <th>Project Grade</th>
	                        <th>Exam Grade</th>
	                        <th>Grade</th> 
	                        <th>Actions</th>                                            
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="student : ${studentsList}">
	                        <td th:text="${student.id}"></td>
	                        <td th:text="${student.name}"></td>
	                        <td th:text="${student.yearOfStudies}"></td>
	                        <td th:text="${student.semester}"></td>
	                        <td th:text="${student.course.id}"></td>
	                        <td th:text="${student.yearOfRegistration}"></td>
	                        <td th:text="${student.projectGrade}"></td>
	                        <td th:text="${student.examGrade}"></td>
	                        <td th:text="${student.grade}"></td>
	                        <td style="text-align:center">
	                        	<form th:action="@{'/editStudentForm/{x}/{y}/{z}'(x=${instructor}, y=${courseId}, z=${student.id})}" th:method="post" style="float:left;">
	                        		<input type="submit" class="btn btn-outline-warning" name=edit value="Edit">
	                        	</form>             
	                        	<form th:action="@{'/deleteStudent/{x}/{y}/{z}'(x=${instructor}, y=${courseId}, z=${student.id})}" th:method="post" style="float:right;">
	                        		<input type="submit" class="btn btn-outline-danger" name=delete value="Del">
	                        	</form>                                 	           
	                        </td>                        
	                    </tr> 
	                </tbody>
	            </table>
				<div class="table-footer">
	                <div class="row">
	                    <div class="col-sm-12">
	           	        	<form th:action="@{'/backToCourses/{x}'(x=${instructor})}" method="get">
	   	                  		<button type="submit" class="btn btn-info Back">
	                        	<i class="fa fa-arrow-left"></i> Back</button>
	                        </form>	  
	           	        	<form th:action="@{'/calculateFinalGrades/{x}/{y}'(x=${instructor}, y=${courseId} )}" method="get" style="float:right;">
	   	                  		<button type="submit" class="btn btn-light"> Calculate Final Grades</button>
	                        </form>	                                       	
	                    </div>
	                    <div class="col-sm-12">
	           	        	<form th:action="@{'/calculateStats/{x}/{y}'(x=${instructor}, y=${courseId} )}" method="get" style="float:right;">
	   	                  		<button type="submit" class="btn btn-light"> Calculate Grade Statistics</button>
	                        </form>	                                       	
	                    </div>                    
	                </div>
	            </div>
	        </div>
	    </div>
	</div> 
</div>     
</body>
</html>